body {
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #121212;
    /* background-color: #d0d0d0; */
    /* background: linear-gradient(-45deg, #142861, #49403E);
    background-size: 200% 200%;
    animation: mymove 30s ease infinite; */
}
@keyframes mymove {
    0%{background-position:4% 0%}
    50%{background-position:97% 80%}
    100%{background-position:4% 0%}
}
/* social section */

.upper {
    border-bottom: 1px solid rgb(105, 105, 105);
    /* border-bottom: 1px solid rgb(37, 37, 37); */
}
.dp {
    width: 100px;
    height: 100px;
    margin: 10px 0px; /*you can give 20px 10px*/
    padding: 5px;
    border: 2px white;
    border-style: solid;
    border-radius: 100px;
    animation: dpborder 2s infinite ease-in-out;
}
@keyframes dpborder {
    0% {border-color: #ee6002;}
    50% {border-color: white;}
    100% {border-color: #ee6002;}
}
.name {
    margin: auto;
    color: #eeeeee;
    /* color: #121212; */
    /* border: 1px solid black; */
}
h4 {
    /* color: #121212; */
    color: #eeeeee;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    animation: social ease-in-out 2s;
    /* border: 1px solid black; */
}

div.social > div {
    display: inline-block;
}
.socialicon_color {
    width: 32px; /* or up it to 40px*/
    height: 32px; /* or up it to 40px*/
    padding: 5px; /* or up it to 10px*/
    margin: 2px;
    opacity: 0.6;
    animation: social ease-in-out 2s;
    /* border: 1px solid black; */
    
}
@keyframes social {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}
.socialicon_color:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: ease-in-out .3s;
}
 /* portfolio section */

.lower {
    margin-bottom: 45px;
    /* border: 1px solid #eeeeee; */
}
.heading {
    color: #eeeeee;
    /* color: #121212; */
}
/* .portfolio {
    border: 1px solid #eeeeee;
} */
.io {
    color: #ee6002;
    /* font-style: italic; */
}
.tab {
    display: inline-block;
    background-color: #eeeeee;
    width: 300px;
    height: 160px;
    margin: 8px 5px;
    box-shadow: 0px 3px 25px 1px rgba(43, 43, 43, 0.5);
}
.tab:hover {
    color: #eeeeee;
    background-color: #ee6002;
    animation: scale .5s ease-in-out forwards;
}
@keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
.tabname {
    font-size: 28px;
    display: inline-block;
    position: relative;
    top: 20%;
    /* transform: translateY(-70%); */
    /* border: salmon 1px solid; */
}
.tab_link {
    text-decoration: none;
    color: #121212;
}
.footer {
    color: #eeeeee;
    border: 1px solid #121212;
    /* text-align: right;
    padding-right: 20px; */
}