/* #6D7F90 pale blue*/
/* #37474f bluish black*/
/* #dee4e7 mintish white */
body {
    background-color: #37474f;
    color: white;
    text-align: center;
    font-family: "reem rufi", sans-serif;
}
.box {
    background-color: whitesmoke;
    width: 220px;
    height: 400px;
    border-radius: 20px;
    box-shadow: #37474f 0px 1px 4px;
    display: inline-block;
    margin: 8px;
}
img {
    width: 50px;
    height:50px;
    border: 2px solid #C2F1DB;
    border-radius: 60px;
    margin: 10px 0px 0px 0px;
    box-shadow: #dee4e7 0px 0px 5px;
}
p {
    color: #c2f1db;
    display: inline;
}