/* This styling is for index.html */
.div_index {
    text-align: center;
    border: 1px solid gainsboro /*#1A91DA */;
    width: 400px;
    height: 478px;
    border-radius: 10px;
    /* box-shadow: grey 0px 0px 3px; */
    margin: auto;
    font-family: sans-serif;
}
.smit {
    margin-bottom: -20px;
    color: #1A91DA;
}
h3 {
    color: black;
}
p {
    display: inline;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}
.loginfield {
    height: 30px;
    width: 280px;
    padding: 5px 5px 5px 15px;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    outline: none;
}
#loginfield {
    width: 122px;
}
.loginfield:focus {
    border: 1px solid #1A91DA;
}
.loginfield:hover {
    box-shadow: 0px 0px 2px grey;
}
.loginbtn {
    height: 42px;
    width: 300px;
    background-color: #1A91DA;
    border: 1px solid #1A91DA;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 30px 5px 5px 5px;
    outline: none;
    cursor: pointer;
}
.loginbtn:hover {
    background-color: rgb(26, 136, 204);
}
.google {
    height: 42px;
    width: 300px;
    background-color: #E60023;
    border: 1px solid #E60023;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px;
    outline: none;
    cursor: pointer;
}
.google:hover {
    background-color: rgb(212, 2, 33);
}
.facebook {
    height: 42px;
    width: 300px;
    background-color: #415E9B;
    border: 1px solid #415E9B;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px;
    outline: none;
    cursor: pointer;
}
.facebook:hover {
    background-color: rgb(58, 83, 138);
}
/* This styling is for welcome.html */
.div_welcome {
    text-align: center;
    border: 1px solid #1A91DA;
    width: 400px;
    height: 478px;
    border-radius: 10px;
    box-shadow: grey 0px 0px 3px;
    margin: auto;
    font-family: sans-serif;
}
.welcome {
    color: #1A91DA;
}
.code_ltgt {
    color: orange;
    font-weight: bold;
    font-size: 142px;
}
.code_text {
    font-size: 44px;
    font-weight: bold;
    color: orange;
}
.mid {
    color: black;
    font-size: 34px;
    font-weight: lighter;
}
.course {
    font-size: 22px;
    font-weight: bold;
}
.logoutbtn {
    height: 42px;
    width: 100px;
    background-color: #1A91DA;
    border: 1px solid #1A91DA;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 68px 5px 5px 5px;
    outline: none;
    cursor: pointer;
}
.logoutbtn:hover {
    background-color: rgb(26, 136, 204);
}
/* This styling is for signup.html */
.div_signup {
    text-align: center;
    border: 1px solid gainsboro /*#1A91DA */;
    width: 400px;
    height: 478px;
    border-radius: 10px;
    /* box-shadow: grey 0px 0px 3px; */
    margin: auto;
    font-family: sans-serif;
}
.radio {
    padding: 0px 15px 0px 5px;
}
.signupbtn {
    height: 42px;
    width: 100px;
    background-color: #1A91DA;
    border: 1px solid #1A91DA;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px;
    outline: none;
    cursor: pointer;
}
.signupbtn:hover {
    background-color: rgb(26, 136, 204);
}